.schedule__wrapper {
  /* min-height: 400px; */
  transition: all ease-in-out 500ms;
}
.scrollable__row {
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding-right: 0;
  z-index: 3;
  padding-top: 1rem;
  padding-left: 1.5rem;
}
.scrollable__row__content {
  padding-right: 0px !important;
}
.scrollable__row::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.scrollarrows_wrapper {
  position: relative;
}
.paddle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  color: var(--text-tertiary);
  opacity: 0.75;
  cursor: pointer;
  box-shadow: 0 1px 5px 0 rgba(20, 19, 19, 0.212),
    0 1px 5px 0 rgba(20, 19, 19, 0.212);
  background: white;
  border-radius: 50%;
  border: none;
  transition: var(--transition-speed);
  outline: none;
}
.paddle:hover {
  opacity: 1;
  outline: none;
}
.paddle:focus {
  outline: none;
}
.paddle i{
    font-size: 1.1rem;
}
.left-paddle {
  left: -2.5rem;
}

.right-paddle {
  right: -2.5rem;
}
.hidden {
  display: none;
}
