.about-content{
    color: #000 !important;
}
.about-text{
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}
.about-highlight{
    color: var(--btn-primary);
}
.text-danger{
    color: red !important;
}