.about-content{
    color: #000 !important;
}
.about-text{
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}
.about-highlight{
    color: var(--btn-primary);
}
.text-danger{
    color: #e93020 !important;
}
red{
    color: #ED4436;
}
green{
    color: #199F58;
}
blue{
    color: #4784F1;
}