#newsponsor-button .icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  display: grid;
  place-items: center;
}
#newsponsor-button .icon svg {
  fill: #7289da;
}
#newsponsor-button a {
  color: #7289da;
  font-weight: bold;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: white;
  text-decoration: none;
  transition: all ease-in 0.3s;
  font-size: 1.25rem;
}

#newsponsor-button a:hover {
  background-color: #6a7fc9;
  color: white;
}

#newsponsor-button a:hover .icon svg {
  fill: white;
}

.newsponsor__card__inner {
  background: #3f9ebe;
  transition: all ease-in-out 0.3s;
  height: auto !important;
}

.newsponsor__content {
  padding: 2rem 1.5rem;
  color: white;
  z-index: 4;
}
.newsponsor__content h3 {
  font-size: 2rem;
  font-weight: 600;
}
.newsponsor__content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.newsponsor__vid {
  height: 100%;
}

@media screen and (max-width: 600) {
  .newsponsor__vid {
    opacity: 0.1;
  }
  .newsponsor__content {
    max-width: 75% !important;
    flex: 0 0 75% !important;
  }
}
@media screen and (max-width: 720px) {
  .newsponsor__content {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
}

.card__actions {
  display: flex;
}
.card__actions > * {
  margin: 0 0.5rem;
}

@media screen and (max-width: 1280px) {
  #newsponsor-button a {
    font-size: 1.25rem;
    padding: 0.75rem 1.2rem;
  }

  .card__actions {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card__actions > * {
    margin: 0.5rem 0;
  }
  #newsponsor-button .icon {
    margin-right: 0.75rem;
  }

  .newsponsor__vid {
    opacity: 0.1;
  }
}
