@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");

:root {
  font-size: 16px;
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --text-primary: #000000;
  --text-secondary: #202124;
  --text-tertiary: #4c4c4c;
  --btn-primary: #0005df;
  --btn-secondary: #ffffff;
  --hover-state: #e9eaff;
  --focused-state: #c2c3f7;
  --transition-speed: 250ms;
  --sidebar-width: 5rem;
}

@font-face {
	font-family: "Blockletter";
	src: url('./fonts/Blockletter.otf') format("opentype");
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  background: var(--bg-primary);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background: var(--btn-primary);
}

main {
  margin-left: 5rem;
  overflow-x: hidden;
}

.section__header {
  font-weight: 500;
  font-size: 2rem;
  padding: 1.25rem 0;
  color: var(--text-tertiary);
}

/* Mobile Screens */
@media only screen and (max-width: 600px) {
  main {
    margin-left: 0;
    padding-bottom: 2.5rem;
  }

  .section__header {
    padding-left: 1rem;
    /* text-align: center; */
  }
}

section {
  padding: 2rem 0;
}
